<br>
<label class="label label-primary">JSON Populated Data</label>
<br><hr>
<div class="table-responsive">
  <table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
          <th class="default">Id</th>
          <th class="default">Name</th>
          <th class="default">Country</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of mockdata">
          <td>{{emp.Id}}</td>
          <td>{{emp.Name}}</td>
          <td>{{emp.Country}}</td> 
        </tr>
    </tbody> 
  </table>
</div>
